<template>
  <div>
    <hello-metamask/>
    <info/>
  </div>
</template>
<script>
import info from '@/components/info';
import HelloMetamask from '@/components/hello-metamask';

export default {
  name: 'dapp',
  beforeCreate() {
    this.$store.dispatch('registerWeb3');
  },
  components: {
    'hello-metamask': HelloMetamask,
    info,
  },
};
</script>
<style scoped>
</style>
