<template>
  <div>
    <pre style="font-size: 4ex;">
{{ list }}
    </pre>
  </div>
</template>
<script>
import { DEALS } from '../util/constants/deals';

export default {
  name: 'deals',
  computed: {
    list: () => {
      let text = '';

      DEALS.forEach((item) => {
        text = text + '• ' + item.name + '\n';
      });

      return text;
    },
  },
};
</script>
<style scoped>
</style>
