<template>
  <div>
    <input type=submit value="Подписать">
    <pre>{{ docText }}</pre>
    <div id="signatures">
    </div>
  </div>
</template>
<script>
import getDoc from '../util/getDoc';
import { PLACEHOLDERS } from '../util/constants/placeholders';

function onlyUnique(value, index, self) {
  return self.indexOf(value) === index;
}

export default {
  name: 'doc',
  computed: {
    docText: () => {
      let text = getDoc;

      const re = /{{.+?}}/g;
      const found = text.match(re);

      // console.log(found);
      const unique = found.filter(onlyUnique);
      // console.log(unique);

      unique.forEach((item) => {
        const value = PLACEHOLDERS[item];
        if (typeof value !== 'undefined') text = text.split(item).join(value);
      });

      return text;
    },
  },
};
</script>
<style scoped>
</style>
