<template>
  <div class='metamask-info'>
    <div v-if="isInjected" id="has-metamask">
      <i aria-hidden="true" class="fa fa-check"></i> Metamask установлен
      <p>Account: {{ coinbase }}</p>
      <div v-show="coinbase===superUserAddr" id="is-participant">
        <p>ИНН: {{ inn }}</p>
        <p>Наименование: {{ compName }}</p>

        <label for="signatory">Руководитель</label>
        <input v-model="signatory" id="signatory">
        <br>
        <label for="postAddress">Юридический адрес</label>
        <input v-model="postAddress" id="postAddress">
        <br>
        <label for="bankAcc">Банковские реквизиты</label>
        <input v-model="bankAcc" id="bankAcc">
        <br>

        <label for="publicKey">Публичный ключ</label>
        <input v-model="publicKey" id="publicKey">
        <br>
        <input type=submit value="Сохранить">
      </div>
      <div v-show="coinbase!==superUserAddr" id="is-not-participant">
        <h3>Регистрация нового участника</h3>
        <label for="inn">ИНН</label>
        <input id=inn>
        <input type=submit value="Зарегистрировать">
      </div>
    </div>
    <p v-else id="no-metamask"><i aria-hidden="true" class="fa fa-times"></i> Metamask не найден</p>
  </div>
</template>

<script>
//    <p>Network: {{ network }}</p>
//    <p>Balance: {{ balance }} Wei // {{ ethBalance }} Eth</p>
import { mapState } from 'vuex';
import { NETWORKS } from '../util/constants/networks';
import { TEMP } from '../util/constants/temp';

export default {
  name: 'hello-metamask',
  data() {
    return TEMP;
  },
  computed: mapState({
    // isParticipant: true, // (state) => check,
    isInjected: state => state.web3.isInjected,
    network: state => NETWORKS[state.web3.networkId],
    coinbase: state => state.web3.coinbase,
    balance: state => state.web3.balance,
    ethBalance: (state) => {
      if (state.web3.web3Instance !== null) return state.web3.web3Instance().fromWei(state.web3.balance, 'ether');
      return 0;
    },
  }),
};
</script>

<style scoped>
.metamask-info {
  text-align:center;
}
#has-metamask {
  color: green;
}
#no-metamask {
  color:red;
}</style>
