<template>
  <div>
    <pre style="font-size: 4ex;">
{{ list }}
    </pre>
  </div>
</template>
<script>
import { PARTICIPANTS } from '../util/constants/participants';

export default {
  name: 'doc',
  /*
  data() {
    return PARTICIPANTS;
  },
  */
  computed: {
    list: () => {
      let text = '';
      // console.log(PARTICIPANTS);

      PARTICIPANTS.forEach((item) => {
        // text = text + '<li>' + item.name + '<li>';
        text = text + '• ' + item.name + '\n';
      });

      return text;
    },
  },
};
</script>
<style scoped>
</style>
