<template>
  <div>
    <h3>Шаблон договора</h3>
    <div v-show="editable" id="editable">
      <input type=submit value="Сохранить">
      <textarea v-model="templateText" rows="40" style="width: 100%;"></textarea>
    </div>
    <div v-show="!editable" id="not-editable">
      <input type=submit value="Редактировать">
      <pre>{{ templateText }}</pre>
      <hr>
      <h3>Шаблон смарт контракта (справочно)</h3>
      <textarea v-model="smartContractSrc" rows="5" style="width: 100%;" readonly></textarea>
      <h3>Полный смарт шаблон (справочно)</h3>
      <textarea v-model="smartTemplateText" rows="40" style="width: 100%;" readonly></textarea>
    </div>
  </div>
</template>
<script>
import getDoc from '../util/getDoc';
import { TEMP } from '../util/constants/temp';

// switch for editable is needed

export default {
  name: 'docTemplate',
  data() {
    return TEMP;
  },
  computed: {
    editable: () => false,
    // editable: () => {return true;},
    templateText: () => {
      const text = getDoc;
      // text = text.replace(/\n/g, '<br>');
      return text;
    },
  },
};
</script>
<style scoped>
</style>
